{% extends 'base.html' %}
{% load static %}

{% block content %}

<header>
    <div class="container-fluid hero-container">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="jumbotron text-center">
                    <h1 class="jumbotron-header">Faraway Finds</h1>
                    <hr class="block-divider block-divider--rose">
                    <p class="lead">The adventure of a lifetime in hidden locations across three beautiful
                        countries.</p>
                </section>
            </div>
        </div>
    </div>
</header>

{% endblock %}